﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using SPR.IdentityServer.Web.DataModel
@model SPR.IdentityServer.Web.DataModel.UserModel

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="Id" type="hidden" />

    <div class="form-group form-check">
        <input asp-for="IsDisabled" class="form-check-input" />
        <label asp-for="IsDisabled" class="form-check-label"></label>
        <span asp-validation-for="IsDisabled" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LoginType" class="control-label"></label>
        @*<input asp-for="LoginType" class="form-control" />*@
        <select class="custom-select" asp-items="Html.GetEnumSelectList<LoginTypes>()" asp-for="LoginType"></select>
        <span asp-validation-for="LoginType" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Login" class="control-label"></label>
        <input asp-for="Login" class="form-control" />
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>