﻿@page "{id}"
@model SPR.IdentityServer.Web.Pages.Users.ChangePasswordModel
@{
    ViewData["Title"] = $"Change password";
}

<h2>Change password for user @Model.Model?.Login</h2>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="Model.Id" type="hidden" />

    <div class="form-group">
        <label asp-for="Input.Password" class="control-label"></label>
        <input asp-for="Input.Password" class="form-control" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="Input.RepeatPassword" class="control-label"></label>
        <input asp-for="Input.RepeatPassword" class="form-control" />
        <span asp-validation-for="Input.RepeatPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a class="btn btn-secondary" asp-area="" asp-page="./Edit" asp-route-id="@Model.Model!.Id">Back</a>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
