﻿@page "{id}"
@model SPR.IdentityServer.Web.Pages.Users.ClientsAdmissionsModel
@{
    ViewData["Title"] = "Change admissions for " + Html.Encode(Model.UserModel?.Login);
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <input asp-for="UserModel.Id" type="hidden" />

    @for (int i = 0; i < Model.Clients.Count; ++i) {
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input" asp-for="@Model.Clients[i].Selected" />
            <label class="custom-control-label" for="@Html.IdFor(p => Model.Clients[i].Selected)">@Html.Encode(Model.Clients[i].SystemName)</label>
            <input type="hidden" asp-for="@Model.Clients[i].Id" />
            <input type="hidden" asp-for="@Model.Clients[i].SystemName" />
        </div>
    }

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a class="btn btn-secondary" asp-area="" asp-page="./Edit" asp-route-id="@Model.UserModel!.Id">Back</a>
    </div>

</form>
