﻿@page "{id}"
@using SPR.IdentityServer.Web.Pages.Users
@model SPR.IdentityServer.Web.Pages.Users.EditModel
@{
    ViewData["Title"] = $"Client {Model.InputModel.Login}";
}

@if (Model.ResultCode != null) {
    <div class="alert alert-success" role="alert">
        @GetCodeDescription(Model.ResultCode)
    </div>
}

<h2>Edit user @Model.InputModel.Login</h2>

<div class="row">
    <div class="col-md-6">
        <partial name="_EditForm" model="Model.InputModel" />
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <a class="btn btn-secondary" asp-page="ChangePassword" asp-route-id="@Model.InputModel.Id">Change password</a>
        <a class="btn btn-secondary" asp-page="ClientsAdmissions" asp-route-id="@Model.InputModel.Id">Change clients</a>
        <a class="btn btn-light" asp-page="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@{
    static string GetCodeDescription(string code) => code switch {
        ResultCodes.PasswordWasChanged => "Password was changed",
        ResultCodes.Edited => "Successfully saved",
        ResultCodes.ClientsChanged => "Clients admissions was updated",
        _ => string.Empty
    };
}