﻿@page "{index?}"
@using SPR.IdentityServer.Web.DataModel; 
@model SPR.IdentityServer.Web.Pages.Users.IndexModel
@{
    ViewData["Title"] = "Users"; //
}

<h2>Users</h2>

<div class="row">
    <div class="col">
        <a class="btn btn-primary" asp-page="./New">New user</a>
    </div>

    <div class="col">
        <form method="get" class="form-inline">
            <div class="form-group mb-2">
                <label asp-for="Filter" class="sr-only"></label>
                <input asp-for="Filter" class="form-control" placeholder="Filter" />
            </div>
            <button type="submit" value="filter" class="btn btn-primary mb-2">Filter</button>
            @if (!string.IsNullOrEmpty(Model.Filter)) {
                <a asp-page="" class="btn btn-secondary mb-2">Clear</a>
            }
        </form>
    </div>
</div>

<table class="table">
    <caption>List of Users</caption>
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(m => m.Users.First().IsDisabled)</th>
            <th scope="col">@Html.DisplayNameFor(m => m.Users.First().Login)</th>
            <th scope="col">@Html.DisplayNameFor(m => m.Users.First().LoginType)</th>
            <th scope="col">@Html.DisplayNameFor(m => m.Users.First().Name)</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users) {
        <tr class="@GetTableClass(item)">
            <td>@Html.DisplayFor(m => item.IsDisabled)</td>
            <td>@Html.DisplayFor(m => item.Login)</td>
            <td>@Html.DisplayFor(m => item.LoginType)</td>
            <td>@Html.DisplayFor(m => item.Name)</td>
            <td>
                <a class="btn btn-primary btn-sm" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>

        }
    </tbody>
</table>

<nav aria-label="...">
    <ul class="pagination pagination-sm justify-content-center">
        @for (int i = 1; i <= Model.PageCount; ++i) {
            if (i == Model.PageIndex) {
                <li class="page-item active" aria-current="page">
                    <span class="page-link">@i</span>
                </li>
            } else {
                <li class="page-item"><a class="page-link" asp-page="" asp-route-index="@i" asp-route-filter="@Model.Filter">@i</a></li>
            }
        }
    </ul>
</nav>

@{
    string GetTableClass(UserModel model) => model.IsDisabled ? "table-dark" : "";
}
