﻿@page
@model SPR.IdentityServer.Web.Pages.Users.NewModel
@{
    ViewData["Title"] = $"New user";
}

<h2>New user</h2>

<div class="row">
    <div class="col-md-6">
        <partial name="_EditForm" model="Model.InputModel" />
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}