﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SPR.IdentityServer.Web.DataModel.ClientModel

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="Id" type="hidden" />

    <div class="form-group form-check">
        <input asp-for="IsDisabled" class="form-check-input" />
        <label asp-for="IsDisabled" class="form-check-label"></label>
        <span asp-validation-for="IsDisabled" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SystemName" class="control-label"></label>
        <input asp-for="SystemName" class="form-control" />
        <span asp-validation-for="SystemName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group form-check">
        <input asp-for="RequirePermission" class="form-check-input" />
        <label asp-for="RequirePermission" class="form-check-label" ></label>
        <span asp-validation-for="RequirePermission" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>