﻿@page "{id}"
@model SPR.IdentityServer.Web.Pages.Clients.ConfigurationModel
@{
    ViewData["Title"] = $"Configuration {Model.InputModel.ClientName}";
}

<h2>Edit client '@Model.InputModel.ClientName' configuration</h2>

<!-- Button trigger modal -->
<div class="btn-group" role="group">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#SecretHashModel">
        Hash secret
    </button>
</div>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="InputModel.ClientId" type="hidden" />
    <input asp-for="InputModel.ClientName" type="hidden" />

    <div class="form-group">
        <textarea asp-for="InputModel.ConfigurationRaw" class="form-control" rows="25"></textarea>
        <span asp-validation-for="InputModel.ConfigurationRaw" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary btn-sm" />
        <a class="btn btn-secondary btn-sm" asp-page="Index">Back</a>
    </div>

</form>

<!-- Modal -->
<div class="modal fade" id="SecretHashModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">            
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="secret" class="col-form-label">Secret:</label>
                        <input type="text" class="form-control" id="secret-input">
                    </div>
                    <div class="form-group">
                        <label for="secret-hash" class="col-form-label">Hash:</label>
                        <input class="form-control" id="secret-hash-input" readonly="readonly">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="hashSecret()">Hash</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
