﻿@page
@using SPR.IdentityServer.Web.DataModel; 
@model SPR.IdentityServer.Web.Pages.Clients.IndexModel
@{
    ViewData["Title"] = "Clients";
}
<h2>Clients</h2>

<div class="row">
    <div class="col">
        <a class="btn btn-primary" asp-page="./New">New client</a>
    </div>
</div>

<table class="table">
    <caption>List of clients</caption>
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(m => m.Clients.First().IsDisabled)</th>
            <th scope="col">@Html.DisplayNameFor(m => m.Clients.First().Title)</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Clients) {
            <tr class="@GetTableClass(item)">
                <td>@Html.DisplayFor(m => item.IsDisabled)</td>
                <td>@Html.DisplayFor(m => item.Title)</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-primary btn-sm" asp-page="./Configuration" asp-route-id="@item.Id">Configuration</a>
                </td>
            </tr>            
        }
    </tbody>
</table>

@{
    string GetTableClass(ClientModel model) => model.IsDisabled ? "table-dark" : "";    
}